
li a {
      display:block;
      text-align:center;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  #th{
    position: absolute;
    right: 30px;
    color:white;
    top:20px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .box{
    min-height:670px;
    min-width:170px;
    border:1px solid;
     background-color:black;
  }
  .box h1{
    text-align:center;
    color:white;
  }
  .box p{
    color:white;
  }
  .box h1,h2{
    text-decoration:underline;
    color:white;
  }
  .box img{
    padding:2px;
    margin:2px;
  }
  .box2{
    min-height:670px;
    min-width:170px;
    border:1px solid;
    background-color:black
  }
  .box2 h1{
    text-align:center;
    color:white;
    text-decoration:underline;
  }
  .tab .tab1{
    border:1px solid white;
    margin:700px;
    padding:14px;
    
  }
  .tab .tab2{
    border:1px solid white;
    margin:7px;
    padding:14px;
    
  }

  .tab .tab3{
    border:1px solid white;
    margin:8px;
    padding:14px;
  }
  
  
