.container {
    text-align: center;
    background-color: #f2f2f2;
    border: 1px solid lightcyan;
    padding: 20px;
    width:50%;
  
}
.heading{
    text-decoration: underline;
    text-align: center;
}
.head2{
    background-color:darkcyan;
}
.button{
    background-color: rgb(92, 189, 92);
    width:100%;
}
.button:hover{
    background-color: aqua;
    cursor: pointer;

}
input[type="radio"]{
    color: aqua;
}